main{
    height: 100%;
}
.req-container{
    float: left;
    position: relative;
    width: 33.333337%;
    height: 100%;
}
.panel-heading, .panel-body{
    padding: 15px;
}

.panel-heading{
    color: #ffffff;
}

.text-container{
    width: 66.666667%;
    float: left;
    position: relative;
    background-color: #9d9d9d;
    height: 100%;
}

